<table style="background-color:blanchedalmond" width="100%">
    <tr>
        <td colspan="7">
            <h2>@ViewBag.n</h2>
            <h2>תודה על הזמנתך,</h2>
            <h2>בתיאבון (-:</h2>
            <h2>חומוס עד הבית</h2>
        </td>
    </tr>
</table>
